<section
  class="w-75 mx-auto bg-main-light rounded-1 p-4 my-4"
  *ngIf="productlength !== 0"
>
  <h3 class="h5 fw-semibold pt">Shop Cart</h3>
  <!-- <p>{{ cartdetails }}</p> -->
  <p class="fw-semibold my-2 text-main">
    Total Price : {{ cartdetails.totalCartPrice | currency : "EGP" }}
  </p>
  <div class="row" *ngFor="let item of cartdetails.products">
    <div
      class="py-3 border-bottom d-flex align-items-center justify-content-center"
    >
      <div class="col-md-1">
        <img [src]="item.product.imageCover" class="w-100 rounded-2" alt="" />
      </div>
      <div class="col-md-11">
        <div class="row ms-2">
          <div class="col-md-10">
            <div>
              <h3 class="h5 fw-semibold">
                {{ item.product.title | uppercase }}
              </h3>
              <!-- <h3 class="h6 fw-semibold text-main">
              {{ item.product.brand.name }}
            </h3> -->
              <p class="text-main">
                Price :{{ item.price | currency : "EGP" }}
              </p>
              <button
                class="btn btn-remove"
                (click)="deleteProduct(item.product._id)"
              >
                <span *ngIf="item_id === item.product._id">
                  <i
                    class="fas fa-spinner fa-spin mx-2"
                    *ngIf="delete_loading"
                  ></i>
                </span>
                <i class="fa-regular fa-trash-can"></i> Remove
              </button>
            </div>
          </div>
          <div class="col-md-2">
            <div class="d-flex align-items-center justify-content-center">
              <button
                class="btn fs-2 border-1 btn-main m-1 p-1"
                (click)="updateCartQuantity(item.product._id, item.count + 1)"
              >
                +
              </button>
              <span class="mx-2">{{ item.count }}</span>
              <button
                class="btn fs-2 border-1 btn-remove m-1 p-1"
                (click)="updateCartQuantity(item.product._id, item.count - 1)"
              >
                -
              </button>
            </div>
          </div>
        </div>
        <!-- <div
          class="cartDetails d-flex align-items-center justify-content-between ms-2"
        ></div> -->
      </div>
    </div>
  </div>
  <div class="btnContainer d-flex align-items-center justify-content-between">
    <button
      class="btn btn-main m-3"
      [routerLink]="['/checkout', cartdetails._id]"
    >
      <i class="fa-brands fa-shopify"></i> Online Payment
    </button>
    <button class="btn btn-remove my-3" (click)="clearCart()">
      <i class="fas fa-spinner fa-spin mx-2" *ngIf="ClearCArt_loading"></i>
      <i class="fa-regular fa-trash-can"></i> Clear Cart
    </button>
  </div>
</section>
<section *ngIf="productlength === 0">
  <div
    class="empityCart d-flex align-items-center justify-content-center flex-column w-75 bg-main-light mx-auto"
  >
    <dir>
      <img src="./assets/images/emptyCart.png" alt="CartEmpty image" />
    </dir>
    <h2 class="fw-bolder">Your cart is empty...</h2>
    <button class="btn btn-main fw-semibold my-3" (click)="backhome()">
      <i class="fa-brands fa-phoenix-framework"></i> Back home
    </button>
  </div>
</section>
