<section
  id="Footer"
  class="bg-main-light w-100 h-25 shadow shadow-sm rounded rounded-1"
>
  <div class="container-fluid p-5">
    <h3>Get The FreshCart app</h3>
    <p>We will sent you a link, open it on your Phone to dawnloud the app</p>
    <div class="row">
      <div class="col-md-9 my-2">
        <input type="email" class="form-control mx-2" placeholder="Email..." />
      </div>
      <div class="col-md-3 my-2">
        <button class="btn-main">Share App Link</button>
      </div>
    </div>
    <div
      class="d-flex align-items-center justify-content-center border-bottom border-top"
    >
      <div class="d-flex align-items-center justify-content-center mx-1">
        <p class="fs-5 mt-3 fw-semibold">Payment Partener</p>
        <img
          src="./assets/images/visa-2.png"
          alt=""
          width="40px"
          class="mx-1"
        />
        <img
          src="./assets/images/mastercard-2.png"
          alt=""
          width="40px"
          class="mx-1"
        />
        <img
          src="./assets/images/discover.png"
          alt=""
          width="40px"
          class="mx-1"
        />
        <img src="./assets/images/jcb.png" alt="" width="40px" class="mx-1" />
      </div>
    </div>
    <p class="text-muted text-center fw-semibold">
      © 2024 Wanees. All rights reserved.
    </p>
  </div>
</section>
