<section
  class="w-50 shadow bg-main-light rounded-1 mx-auto p-3 mt-4"
  *ngIf="step1"
>
  <form [formGroup]="ForgetForm" (ngSubmit)="forgetPassword()">
    <label for="email" class="fw-semibold text-main mx-3">Email :</label>
    <input
      #email_input
      formControlName="email"
      type="email"
      name="email"
      id="email"
      class="form-control m-2"
    />
    <div
      class="alert alert-danger pb-0"
      *ngIf="
        ForgetForm.get('email')?.errors &&
        (ForgetForm.get('email')?.touched || email_input.value.length > 0)
      "
    >
      <p *ngIf="ForgetForm.get('email')?.getError('required')">
        <i class="fa-solid fa-circle-exclamation"></i> Email Is Required
      </p>
      <p *ngIf="ForgetForm.get('email')?.getError('email')">
        <i class="fa-solid fa-circle-exclamation"></i> Not Valid Email
      </p>
    </div>
    <button class="btn btn-main mt-3 ms-3">
      <i class="fas fa-spinner fa-spin" *ngIf="loadingSpinner"></i> Forget
      Password
    </button>
    <p class="alert alert-danger mb-0 m-2" *ngIf="userErr_msg">
      {{ userErr_msg }}
    </p>
    <p class="alert alert-success mb-0 m-2" *ngIf="userSuccess_msg">
      {{ userSuccess_msg }}
    </p>
  </form>
</section>
<section class="w-50 shadow bg-main-light rounded-1 mx-auto p-3" *ngIf="step2">
  <form [formGroup]="ResetCodeForm" (ngSubmit)="resetCode()">
    <label for="reset" class="fw-semibold text-main mx-3">Reset Code :</label>
    <input
      formControlName="resetCode"
      type="text"
      name="reset"
      id="reset"
      class="form-control m-2"
    />
    <div class="d-flex align-items-center justify-content-between">
      <button class="btn btn-main mt-3 ms-3">
        <i class="fas fa-spinner fa-spin" *ngIf="loadingSpinner"></i> Reset
      </button>
      <button class="btn btn-remove mt-3" (click)="BackStep1()">
        Back <i class="fa-solid fa-arrow-right"></i>
      </button>
    </div>

    <p class="alert alert-danger mb-0 m-2" *ngIf="userErr_msg">
      {{ userErr_msg }}
    </p>
    <p class="alert alert-success mb-0 m-2" *ngIf="userSuccess_msg">
      {{ userSuccess_msg }}
    </p>
  </form>
</section>
<section
  class="w-50 shadow bg-main-light rounded-1 mx-auto p-3 mb-4"
  *ngIf="step3"
>
  <form [formGroup]="ResetPasswordForm" (ngSubmit)="newPassword()">
    <!-- <label for="email" class="fw-semibold text-main mx-3">Email :</label>
    <input type="email" name="email" id="email" class="form-control m-2" /> -->
    <label for="newPassword" class="fw-semibold text-main mx-3"
      >New Password :</label
    >
    <input
      #password_input
      formControlName="newPassword"
      type="password"
      name="newPassword"
      id="newPassword"
      class="form-control m-2"
    />
    <div
      class="alert alert-danger pb-0"
      *ngIf="
        ResetPasswordForm.get('password')?.errors &&
        (ResetPasswordForm.get('password')?.touched ||
          password_input.value.length > 0)
      "
    >
      <p *ngIf="ResetPasswordForm.get('password')?.getError('required')">
        <i class="fa-solid fa-circle-exclamation"></i> Password is Required
      </p>
      <p *ngIf="ResetPasswordForm.get('password')?.getError('pattern')">
        <i class="fa-solid fa-circle-exclamation"></i> password must start with
        upperCase then from 6 to 20
      </p>
    </div>
    <button class="btn btn-main mt-3 ms-3">
      <i class="fas fa-spinner fa-spin" *ngIf="loadingSpinner"></i> Reset
      Password
    </button>
    <p class="alert alert-danger mb-0 m-2" *ngIf="userErr_msg">
      {{ userErr_msg }}
    </p>
    <p class="alert alert-success mb-0 m-2" *ngIf="userSuccess_msg">
      {{ userSuccess_msg }}
    </p>
  </form>
</section>
