<section class="w-75 mx-auto py-3 shadow bg-main-light p-3 m-5">
  <form [formGroup]="UpdateInfoForm" (ngSubmit)="UpdateInfo()">
    <div>
      <label for="name" class="text-main fw-semibold py-2 ps-1"
        >New Name :</label
      >
      <input
        type="text"
        id="name"
        class="form-control"
        formControlName="name"
        #name_Input
      />
      <div
        class="alert alert-danger pb-0"
        *ngIf="
          UpdateInfoForm.get('name')?.errors &&
          (UpdateInfoForm.get('name')?.touched || name_Input.value.length > 0)
        "
      >
        <p *ngIf="UpdateInfoForm.get('name')?.getError('required')">
          <i class="fa-solid fa-circle-exclamation"></i> Name Is Required
        </p>
        <p *ngIf="UpdateInfoForm.get('name')?.getError('minlength')">
          <i class="fa-solid fa-circle-exclamation"></i> Min Length Is 3
        </p>
        <p *ngIf="UpdateInfoForm.get('name')?.getError('maxlength')">
          <i class="fa-solid fa-circle-exclamation"></i> Max Length Is 20
        </p>
      </div>
    </div>

    <div>
      <label for="email" class="text-main fw-semibold py-2 ps-1"
        >New Email :</label
      >
      <input
        type="email"
        id="email"
        class="form-control"
        formControlName="email"
        #email_input
      />
      <div
        class="alert alert-danger pb-0"
        *ngIf="
          UpdateInfoForm.get('email')?.errors &&
          (UpdateInfoForm.get('email')?.touched ||
            UpdateInfoForm.value.length > 0)
        "
      >
        <p *ngIf="UpdateInfoForm.get('email')?.getError('required')">
          <i class="fa-solid fa-circle-exclamation"></i> Email is Required
        </p>
        <p *ngIf="UpdateInfoForm.get('email')?.getError('pattern')">
          <i class="fa-solid fa-circle-exclamation"></i> Email Must be Valid
        </p>
      </div>
    </div>

    <div>
      <label for="phone" class="text-main fw-semibold py-2 ps-1"
        >New Phone :</label
      >
      <input
        type="tel"
        id="phone"
        class="form-control"
        formControlName="phone"
        #phone_input
      />
      <div
        class="alert alert-danger pb-0"
        *ngIf="
          UpdateInfoForm.get('phone')?.errors &&
          (UpdateInfoForm.get('phone')?.touched || phone_input.value.length > 0)
        "
      >
        <p *ngIf="UpdateInfoForm.get('phone')?.getError('required')">
          <i class="fa-solid fa-circle-exclamation"></i> Phone Required
        </p>
        <p *ngIf="UpdateInfoForm.get('phone')?.getError('pattern')">
          <i class="fa-solid fa-circle-exclamation"></i> Must Be Egyption Phone
        </p>
      </div>
    </div>

    <button class="btn btn-main w-100 my-3">
      <i class="fas fa-spinner fa-spin" *ngIf="loadingSpinner"></i>Update
    </button>
    <p class="alert alert-danger mb-0 m-2" *ngIf="Err_msg">
      {{ Err_msg }}
    </p>
    <!-- <p class="alert alert-success mb-0 m-2" *ngIf="Sucess_msg">
      {{ Sucess_msg }}
    </p> -->
  </form>
</section>
