<section class="m-4" *ngIf="!isImpty">
  <div
    class="Caption mb-5 d-flex align-items-center justify-content-center flex-column"
  >
    <h2 class="fw-semibold text-main text-center">Favorite Products</h2>
    <div class="mt-3 mb-1 w-50">
      <!-- <input
        type="search"
        class="form-control"
        placeholder="Search..."
        [(ngModel)]="searchterm"
      /> -->
    </div>
  </div>
  <div class="row g-4">
    <div class="col-lg-2 col-md-4" *ngFor="let Product of AllProducts">
      <div class="product p-2 position-relative">
        <div class="heart">
          <i
            *ngIf="!WishList.includes(Product._id)"
            class="fa-regular fa-heart"
            (click)="addFevProduce(Product._id)"
          ></i>
          <i
            *ngIf="WishList.includes(Product._id)"
            class="fas fa-heart text-danger"
            (click)="removeFevProduce(Product._id)"
          ></i>
        </div>

        <div
          class="p-2 cursor-pointer"
          [routerLink]="['/details', Product._id]"
        >
          <img [src]="Product.imageCover" class="w-100" [alt]="Product.title" />
          <h3 class="h6 fw-semibold mt-2">
            {{ Product.category.name | uppercase }}
          </h3>
          <h4 class="h6 fs-6">
            {{ Product.title | termText : 2 }}
          </h4>
          <div>
            <p class="text-main">{{ Product.price | currency : "EGP" }}</p>
            <div class="d-flex align-items-center justify-content-between">
              <p>
                <i
                  *ngFor="let num of [1, 2, 3, 4, 5]"
                  class="fas fa-star"
                  [class.rating-color]="Product.ratingsAverage >= num"
                ></i>
              </p>

              <p class="text-muted">{{ Product.ratingsAverage }}</p>
            </div>
          </div>
        </div>

        <button
          class="btn-main w-100 my-1"
          (click)="addProduct(Product._id, btnAdd)"
          #btnAdd
        >
          + Add To Cart
        </button>
      </div>
    </div>
  </div>
</section>
<section *ngIf="isImpty">
  <div
    class="d-flex align-items-center justify-content-center w-75 flex-column mx-auto pt-2"
  >
    <img src="./assets/images/Empity wishlist.png" alt="" class="w-100" />
    <h3 class="h5 my-2 fw-bold">Wish List Is Empty</h3>
    <button class="btn btn-main fw-semibold my-3" routerLink="/home">
      <i class="fa-brands fa-phoenix-framework"></i> Back home
    </button>
  </div>
</section>
